/* global settings 
orange color
rgb(239, 121, 25)
*/

body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.pd-10-20 {
  padding: 16px 48px !important;
}

/* header */

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100px;

  box-sizing: border-box;
  padding: 10px;

  background-color: rgb(239, 121, 25);
  color: #fff;
  font-size: 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.arrow-left {
  height: 20px;

  cursor: pointer;
}

.logo01 {
  height: 40px;

  margin: 0 10px;
}

.logo-text {
  margin: 0;
  padding: 0;
}

.mobile-menu-icon {
  width: 48px;
  height: 48px;

  cursor: pointer;
}

/* main section */

.main-section {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-section {
  width: 70%;
  min-height: 3000px;

  background-color: #fff;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);
}

.restaurant-header {
  position: relative;

  height: 30vh;

  margin-bottom: 10px;

  background-image: url(img/pizza.jpg);
  background-size: 100%;
}

.restaurant-logo {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;

  height: 100px;

  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
  border-radius: 50%;
}

/* rating section */

.rating {
  display: flex;

  margin: 10px 0;
}

.rating img {
  height: 30px;
}

/* restaurant info section */

.restaurant-info {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.restaurant-infobox {
  display: flex;
  align-items: center;

  padding: 8px;

  background-color: rgb(239, 239, 239);
  border-radius: 5px;
}

.restaurant-infobox img {
  width: 24px;
  height: 24px;

  margin-right: 8px;
}

/* menu */

.restaurant-menu {
  padding: 32px;
}

.menu-item {
  box-sizing: border-box;

  position: relative;

  margin: 16px 0;
  padding: 10px;

  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.btn-add-item {
  box-sizing: border-box;

  position: absolute;
  top: 0;
  right: 0;

  padding: 0 8px;

  cursor: pointer;
  outline: 2px solid #000;
  font-size: 40px;
  text-decoration: none;
}

.txt-price {
  color: rgb(239, 121, 25);
}

/* order section */

.order-section {
  position: sticky;
  top: 0;
  /* bottom: 0;
  right: 0; */

  width: 30%;
  height: 100vh;

  box-sizing: border-box;
  padding: 16px;

  background-color: rgb(239, 239, 239);
  transition: all 100ms ease-in-out;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-bucket {
  height: 24px;
  cursor: pointer;
}

.order-sum {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

/* RESPONSIVE */

@media (max-width: 960px) {
  .restaurant-section {
    width: 100vw;
  }
  .order-section {
    display: none;
  }
}
