body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* header */

.header-section {
  display: flex;
  align-items: center;

  padding: 10px;

  background-color: rgb(239, 121, 25);
  color: #fff;
  font-size: 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.arrow-left {
  height: 20px;
}

.logo01 {
  height: 40px;

  margin: 0 10px;
}

.logo-text {
  margin: 0;
  padding: 0;
}

/* main section */

.main-section {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-section {
  flex-grow: 2;
  flex-wrap: wrap;

  min-width: 60%;
  min-height: 300vh;

  background-color: rgb(212, 255, 255);
}

.restaurant-header {
  height: 30vh;

  background-image: url(img/pizza.jpg);
  background-size: 100%;
}

.restaurant-menu {
  padding: 10px;
}

.order-section {
  flex-grow: 1;
  flex-wrap: wrap;

  min-width: 30%;
  height: 80vh;

  padding: 10px;

  background-color: rgb(255, 142, 142);
}
